<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Master page</title>
  	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	 <link rel="stylesheet" type="text/css
		" href="/stylesheet/stylesheet_masterPage.css">
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 	<style>
 	.errorPage{
	position:absolute;
	left:270px;
	top:170px;
	width:1000px;
	height:600px;
}
</style>
</head>
<body>
	<div class="container-fluid errorPage" style="background-color:#F3F7F7">
		<h1>Error!<h1>
		<p>에러가 발생했다구욧</p>
		<p style="opacity:0.5; font-size:50%;">새로고침을 하거나 혹시 랜선이 빠지지 않았나 확인하거나</p>
		<p style="opacity:0.5; font-size:50%;">자기가 뭔가 잘못하지 않았나 곰곰히 생각한후에도 잘 모르겠으면 개발자에게 문의 전화를 넣어주세요 찡찡긋</p>
	</div>
</body>
</html>
