<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import jquey -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <!-- import bootstrap style sheet -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <h3> Fitting Room </h3>
    </div>
</body>
</html>