<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import jquey -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){
                alert('hi');
            });

        });
    </script>
</head>
<body>
    hot fashion list
    <button id="btnTest"> testBtn</button>
</body>
</html>