<!DOCTYPE html>
<html>
  <head>
    <title>남정네들</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta http-equiv="refresh" content="0.5;url=/web/login">
  </head>
  <body>
    <h1>Now loading....</h1>
    <p>사이트로 이동 중입니다...</p>
  </body>
</html>
