<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- import jquey -->
  <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
  <!-- import bootstrap and style sheet -->
  <script type="text/javascript" src="/plugins/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
  <!-- import fileinput plugin and style sheet -->
  <script type="text/javascript" src="/plugins/fileinput/fileinput.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/fileinput/fileinput.min.css">


</head>
<body>
<div class="container">
  Cloth add post
</div>
</body>
</html>