<!DOCTYPE html>
<html>
  <head>
    <title><%= datas.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script>
  	var data = <%= datas.arr %>
  	console.log(data);
  	</script>
    <h1><%= datas.title %></h1>
    <p>Welcome to <%= datas.title %></p>
  </body>
</html>
