<!DOCTYPE html>
<html lang="en">
<head>
    <title>Master page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet_masterPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        var count=3;

        function writeContents(){
            document.writeContent.submit();
        }
        function displayChange(id){
            var e = document.getElementById(id);
            if(e.style.display == 'none')
                e.style.display = 'block';
        }
        function displayHide(id){
            var e=document.getElementById(id);
            if(e.style.display='block')
                e.style.display='none';
        }
        function add(){
            count+=1;
            console.log("count : ",count);


            switch(count){
                //case 2:
                //    displayChange("display2");
                //   break;
                //case 3:
                //    displayChange("display3");
                //    break;
                case 4:
                    displayChange("display4");
                    break;
                case 5:
                    displayChange("display5");
                    break;
                case 6:
                    displayChange("display6");
                    break;
                case 7:
                    displayChange("display7");
                    break;
                case 8:
                    displayChange("display8");
                    break;
                case 9:
                    displayChange("display9");
                    break;
                case 10:
                    displayChange("display10");
                    break;
                case 11:
                    displayChange("display11");
                    break;
                case 12:
                    displayChange("display12");
                    break;
                case 13:
                    displayChange("display13");
                    break;
                case 14:
                    displayChange("display14");
                    break;
                case 15:
                    displayChange("display15");
                    break;
                case 16:
                    displayChange("display16");
                    break;
                case 17:
                    displayChange("display17");
                    break;
                case 18:
                    displayChange("display18");
                    break;
                case 19:
                    displayChange("display19");
                    break;
                case 20:
                    displayChange("display20");
                    displayHide("plusBtn");
                    break;
                default:
                    break;
            }
        }
    </script>
</head>
<body>
<form action="/web/board/write/test?editorName=lee" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
    <!--1-->
    <div class="container-fluid" style="display:block;background-color:#ADC2FF;margin-bottom:10px;">
        <div class="form-group">
            <br>

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>
        </div>
    </div>
    <!--2-->
    <div class="container-fluid" style="display:block;background-color:#ADC2FF;margin-bottom:10px;" id="display2">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>
        </div>
    </div>
    <!--3-->
    <div class="container-fluid" style="display:block;background-color:#ADC2FF;margin-bottom:10px;" id="display3">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--4-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display4">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--5-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display5">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--6-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display6">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--7-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display7">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--8-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display8">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--9-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display9">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--10-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display10">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--11-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display11">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--12-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display12">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--13-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display13">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--14-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display14">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--15-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display15">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--16-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display16">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--17-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display17">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--18-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display18">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--19-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display19">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
    <!--20-->
    <div class="container-fluid" style="display:none;background-color:#ADC2FF;margin-bottom:10px;" id="display20">
        <div class="form-group">

            <label for="이미지">글 이미지:</label>
            <input  type="file" id="images" name="images"/>
            <br>
            <label for="글 내용">글 내용:</label>
            <br><textarea rows="4" cols="100" name="contents" form="writeContent"></textarea>
            <br>
            <br>

        </div>
    </div>
</form>
<div class="form-group">
    <button id="plusBtn" class="btn btn-lg" onclick="add();" style="display:block;width:1200px;padding:20px;margin-left:30px;margin-top:20px;background-color:white">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    <br>
    <button type="submit" form="writeContent" class="jbtn btn btn-lg btn-success">
        완료
    </button>
</div>
</body>
</html>