<!DOCTYPE html>
<html lang="en">
<head>
  <title>Master page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css
		" href="/stylesheets/stylesheet_masterPage.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script>
  function writeContents(id,id2){
        document.writeContent.submit();
   }
  function hide1()
   </script>
</head>
<body>
  <!--1-->
	<div class="container-fluid">
          <div class="form-group">
		<form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
	</div>
  <!--2-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--3-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--4-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--5-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--6-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--7-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--8-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
   <!--9-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--10-->
  <div class="container-fluid" style="display:none"> 
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--11-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--12-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
   <!--13-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--14-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--15-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--16-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
   <!--17-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--18-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--19-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
  <!--20-->
  <div class="container-fluid" style="display:none">
          <div class="form-group">
    <form action="/web/board/write" method="post" name="writeContent" id="writeContent" enctype="multipart/form-data">
          <label for="이미지">글 이미지:</label>
          <input  type="file" id="images" name="images"/>
          <br>
          <label for="글 내용">글 내용:</label>
          <br><textarea rows="4" cols="100" name="content" form="writeContent"></textarea>
          <br>
          <br>
          <input type="submit" value="완료" class="jbtn btn-success" onclick="writeContents()"/>
          </form>
          </div>
  </div>
</body>
</html>